body {
  color: #7e7167;
}
.order-designer-wrapper {
  border: 1px solid #d1cec9;
  max-width: 950px;
  height: 575px;
  border-radius: 10px;
  margin: 0px auto;
}
.order-designer-wrapper .container {
  padding: 0px;
}
