.wrapper {
  padding: 25px 15px;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.wrapper .img-container {
  position: absolute;
  top: 115px;
  bottom: 0px;
  right: -17px;
  overflow: auto;
  padding-left: 13px;
}
.wrapper .img-container .img-style {
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 235px;
  width: 190px;
  float: left;
  margin: 5px;
}
.wrapper .img-container .img-style img {
  width: 100%;
}
.wrapper .img-container .highlight {
  border: 4px solid #8ebb5b;
}
.wrapper .img-container .highlight img {
  width: 70%;
}
